<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Search</h1>
    <form id="search-form">
        <input type="text" id="query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form>
    <div id="results"></div>

    <script>
        $('#search-form').on('submit', function(e) {
            e.preventDefault();
            var query = $('#query').val();
            $.get('/search?q=' + encodeURIComponent(query), function(data) {
                //console.log('Search Data:', data); // Log để kiểm tra dữ liệu trả về trên frontend
                $('#results').empty();
                
                // Kiểm tra nếu có dữ liệu tracks
                if (data.tracks && data.tracks.items.length > 0) {
                    data.tracks.items.forEach(track => {
                        $('#results').append('<p><b>Track:</b> ' + track.name + ' by ' + track.artists.map(artist => artist.name).join(', ') + '</p>');
                    });
                }

                // Kiểm tra nếu có dữ liệu artists
                if (data.artists && data.artists.items.length > 0) {
                    data.artists.items.forEach(artist => {
                        $('#results').append('<p><b>Artist:</b> ' + artist.name + '</p>');
                    });
                }

                // Kiểm tra nếu có dữ liệu albums
                if (data.albums && data.albums.items.length > 0) {
                    data.albums.items.forEach(album => {
                        $('#results').append('<p><b>Album:</b> ' + album.name + ' by ' + album.artists.map(artist => artist.name).join(', ') + '</p>');
                    });
                }
            });
        });
    </script>
</body>
</html>
